<div class="div-product-item relative wallapop-bck-style">
  <div
    class="flex min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80"
  >
    <img
      [src]="productDataObj.productImage"
      [alt]="productDataObj.productDescription"
      class="h-full w-full object-cover object-center lg:h-full lg:w-full"
    />
  </div>
  <div class="div-product-info p-4 pt-0 mt-4 block">
    <div
      class="div-email-with-fav text-xs flex justify-between"
      *ngIf="!showAsFavoriteView"
    >
      <span>{{ productDataObj.productEmail }}</span>
      <div
        class="star-icon-styles"
        [ngClass]="productDataObj.productFav ? 'star-icon-styles-active' : ''"
        (click)="onClickFavorite()"
      >
        <fa-icon [icon]="iconStar" class="cursor-pointer"></fa-icon>
      </div>
    </div>
    <div class="div-principal-info flex justify-between text-xl font-semibold">
      <div
        class="div-name"
        [ngClass]="showAsFavoriteView ? 'flex justify-between w-full' : ''"
      >
        <span>{{ productDataObj.productName }}</span>
        <div
          class="trash-icon-styles"
          *ngIf="showAsFavoriteView"
          (click)="onDeselectAsFavorite()"
        >
          <fa-icon [icon]="iconTrash" class="cursor-pointer"></fa-icon>
        </div>
      </div>
      <div class="price-name" *ngIf="!showAsFavoriteView">
        <span>{{ productDataObj.productPrice }}€</span>
      </div>
    </div>
    <div class="div-description" *ngIf="!showAsFavoriteView">
      <span>{{ productDataObj.productDescription }}</span>
    </div>
  </div>
</div>
