<div class="p-4">
  <div class="container-favButton"></div>
  <div class="container-internal-search pb-2">
    <InternalSearch
      (onButtonSearchClicked)="onButtonSearchClicked($event)"
    ></InternalSearch>
  </div>
  <div
    class="container-popup-error"
    *ngIf="filteredProductsData.length < 1 && showPopUpNoResult"
  >
    <PopupError [DefaultPhraseError]="defaultPhraseErrorForPopUp"></PopupError>
  </div>

  <div
    class="container-list-product"
    *ngIf="filteredProductsData.length >= 1 && showProductList"
  >
    <div class="flex justify-end">
      <span class="mt-auto mb-auto"> Sort By: </span>
      <Dropdown
        [Options]="optionsDropdownSort"
        [DefaultPhrase]="defaultStringDropdownSort"
        (onChangeValueDropdown)="onChangeValueDropdown($event)"
      ></Dropdown>
    </div>
    <productView [productList]="filteredProductsData"> </productView>
  </div>
  <router-outlet></router-outlet>
</div>
