<div class="p-4" (window:scroll)="doSomethingOnScroll($event)">
  <div class="container-favButton"></div>
  <div class="container-internal-search pb-2">
    <InternalSearch
      (onButtonSearchClicked)="onButtonSearchClicked($event)"
    ></InternalSearch>
  </div>
  <div
    class="container-popup-error"
    *ngIf="filteredProductsData.length < 1 && showPopUpNoResult"
  >
    <PopupError [DefaultPhraseError]="defaultPhraseErrorForPopUp"></PopupError>
  </div>

  <div
    class="container-list-product"
    *ngIf="filteredProductsData.length >= 1 && showProductList"
  >
    <div class="flex justify-end mt-4">
      <span class="mt-auto mb-auto mr-2"> Sort By: </span>
      <Dropdown
        [Options]="optionsDropdownSort"
        [DefaultPhrase]="defaultStringDropdownSort"
        (onChangeValueDropdown)="onChangeValueDropdown($event)"
      ></Dropdown>
    </div>
    <productView
      [productList]="filteredProductsData"
      (onSetFavorite)="onClickFavorite($event)"
    >
    </productView>
  </div>
  <router-outlet></router-outlet>
  <div
    class="fixed right-10 bottom-5"
    *ngIf="showScrollToTheTopButton"
    (click)="onGoTopScroll()"
  >
    <button
      class="button-go-up font-bold py-2 px-4 wallapop-bck-style inline-flex items-center justify-end"
    >
      <fa-icon [icon]="iconArrowUp" class="opacity-60"></fa-icon>
      <span class="ml-2">Go Up</span>
    </button>
  </div>
</div>
